.back-ground {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1000;
}

.audio-player {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.audio-holder {
    margin: 0 2rem;
    --audio-player: 75%;
}

.audio-image-container {
    width: var(--audio-player);
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}

.audio-image-container img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: .5rem;
}

.audio-bar {
    width: var(--audio-player);
    height: 5px;
    z-index: 10000;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    width: var(--audio-player);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    cursor: pointer;
    transition-duration: 200ms;
}

input[type="range"]::-webkit-slider-thumb:hover {
    width: 10px;
    height: 10px;
}

.input-container {
    position: relative;
}

.input-completed {
    position: absolute;
    left: 0;
    top: .85rem;
    height: 4px;
    width: calc(var(--audio-player) * var(--completed-percentage));
    background-color: white;
    border-radius: 5px;
    z-index: -1;
}

.audio-controls {
    width: var(--audio-player);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .25rem 0;
}

.main-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-controls button {
    width: 2.2rem;
    aspect-ratio: 1;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 250ms;
}

.audio-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.audio-controls img {
    height: 1rem;
}

.back-button {
    transform: rotate(180deg);
}

.play-pause {
    transition-duration: 250ms;
}

.play-pause:hover {
    transform: scale(1.1);
}

.sound-bar-container {
    position: absolute;
    width: 10rem;
    height: 1.5rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .75);
    transform: rotate(-90deg) translate(5.6rem);
    top: 0rem;
    display: none;
    justify-content: center;
    align-items: center;
    --sound-bar-fill: 1;
}

.sound-bar-container input {
    width: 8rem;
    height: .5rem;
    z-index: 30;
}

.speaker {
    position: relative;
}

.sound-bar-hover:hover+.sound-bar-container {
    display: flex !important;
}

.sound-bar-container:hover,
.sound-bar-container:focus {
    display: flex !important;
}

.soundbar-fill {
    position: absolute;
    background-color: white;
    width: calc(var(--sound-bar-fill) * 8rem);
    height: .25rem;
    left: 1rem;
    border-radius: .5rem;
    z-index: 0;
}

@media (max-width: 1100px) {
    .audio-player {
        width: 100%;
    }
    .audio-holder {
        --audio-player: min(100%, 50vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .audio-names {
        text-wrap: nowrap;
    }
    .audio-bar {
        height: 3px;
        margin-top: 1rem;
    }
    .audio-names {
        width: var(--audio-player);
    }
    .input-container {
        width: var(--audio-player);
    }
    .input-completed {
        top: 1rem;
    }
    .audio-controls button {
        width: 15%;
        margin: 0;
    }
    .audio-controls img {
        height: 50%;
    }
    .play-pause {
        transform: scale(1.35) !important;
        margin: 0 25px !important;
    }
    .sound-bar-container {
        padding: .1rem .25rem;
        transform: translate(-3.5rem, -4rem);
    }
    .sound-bar-container input {
        height: 5px;
    }
    .soundbar-fill {
        height: 5px;
        left: 1.3rem;
    }
}